.home-main-container{
   
    padding: 10vh;
}
.home-container{
    height: 80vh;
    border-radius: 10px;
}
.buttons{
    flex-direction: column;

}

.link-up, .comfess, .memes, .donation, .admin{
    margin-top: 4vh;
}
.first-home-container, .second-home-container{
    width: 50%;
    height: 100%;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-home-container{
    background-color: #105daa;
    border-radius: 10px 0px 0px 10px;
}

.question-button{
     padding: 10px;
     border-radius: 50%;
     border: 1px solid white;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     margin-left: 10px;
     
}
.question-button:hover{
    background-color: white;
    color: #105daa;
}