.comfession-page{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #015daa;
    color: #fff;
    height: 100vh;
}
.comfession-popup{
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2vh 0vh 5vh 0vh;
    position: absolute;
   z-index: 2;

}
.comfession{
    height: 85vh;
}
.embla_ {
  max-width: 55rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
 
  /* max-width: 55rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 70%;*/
  }
  .embla___viewport {
    overflow: hidden;
  }
  .embla___container {
    display: flex;
    touch-action: pan-y pinch-zoom;
  
  }
  .embla___slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    border: 1px solid white;
   margin:2vh;
   border-radius: 5px;
  }
  .embla___slide___number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    display: flex;
    max-height: var(--slide-height);
    user-select: none;
    flex-direction: column;
    padding: 10px;
  }
  .embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
 
  .embla___controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
  
  }
  .embla___buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
    color: #ffffff;
  }
  .embla___button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: #105daa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla___button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla___button__svg {
    width: 35%;
    height: 35%;
    color: #0056b3;
  }
 
 
  

  .embla___slide {
    transition: opacity 0.2s ease-in-out;
  }
 
  .read-more-buttons {
    color: white;
    margin-top: 1rem; /* Add space above the button */
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600; 
    
  }
  
  
  
  .single-main-confession-container{
    background-color: #105daa;
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 100%;
  }
  
  .single-confession-container{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin-bottom: 10vh;
  }
  .confession-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .comment-section{
    width: 100%;
    margin: 5vh 0vh 6vh 0vh;
  }
  .comment-input{
    background: none;
    border: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    border-radius: 0px;
  }
  .comment-section-container{
    width: 100%;
  }
  .comment-input::placeholder{
    color: #ffffff;
  }
  .comments{
    margin: 2vh 0vh 0vh 0vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
  }
  .sticky-comment {
    position: sticky;
    top: 0; /* Sticks when reaching the top of the screen */
   
    z-index: 100; /* Keeps it on top of other content */
  }
  .comments-container{
    width: 100%;
    overflow-y: auto;
    height: 50vh;
  }

  @media only screen and (max-width: 768px){
    .comfession{
      width: 100%;
    }
    .embla_{
      width: 100%;
      display: flex;
      margin: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .embla___slide{
      min-width: 90%;
    }
    .embla___controls{
      width: 100%;
    }
    .comfession-text {
      font-size: 12px;
    }
    .single-confession-container{
      width: 100%;
      padding: 0px 10px 0px 10px;
    }
    .comfession-popup{
      width: 98%;
      padding: 2vh;
    }
  }
  @media only screen and (max-width: 550px){
    .single-main-confession-container{
      height: 100vh;
    }
    .embla___controls{
         display: none;
    }
   
    .embla___controls{
      width: 100%;
    }
    .read-more-button{
      font-size: 10px;
    }
    .single-confession-container{
      width: 100%;
      padding: 0px 10px 0px 10px;
    }
    .single-comfession-text{
      overflow-y: auto;
      height: 50vh;
    }
    .comment-section-container{
      display: none;
    }
    .comment-input{
      background: none;
    border: 1px solid #015daa;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #015daa;
    border-radius: 0px;
    height:50px;
    }
    .comment-input::placeholder{
      color: #015daa;
    }
    .comments{
      color: #015daa;
    }
    .show-comment{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }