.footer-container{
    position: fixed;
    bottom: 0;
    background-color: white;
    color: #105daa;
    z-index: 2;

}
.social-text{
    font-weight: 600;
}

@media only screen and (max-width: 768px){
    .social-text{
        display: none;
        
    }
    .footer-container{
        height: 20px;
    }
    .social-footer-icon{
        margin: 0;
    }
}